* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

h2 {
    font-weight: 700;
}

p {
    color: rgba(198, 201, 216, .75);
    font-size: 18px;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

