* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

h2 {
    font-weight: 700;
}

p {
    color: rgba(198, 201, 216, .75);
    font-size: 18px;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

/* heaxder css */
header {
    width: 100%;

    background-color: transparent;
    position: absolute;
    top: 5px;

}


/* navbar css */
#navbar {
    width: 100%;



}

/* .nav-div1{
    display: flex;
    justify-content: flex-start;
}
.nav-div2{
    display: flex;
    justify-content: flex-end;
} */

#navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    padding-top: 20px;
}

#nav_link1 {
    color: white;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
}
#nav_link1:hover {
    color:#ef0963;
  }

#nav_link1::after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #f9004d;
    position: absolute;
    top: 50px;
    left: 7px;
    box-sizing: border-box;
    display: none;


}


 #nav_link1:hover:after {
    display: block;


} 
#nav_link2 {
    color: white;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
}
#nav_link2:hover {
    color:#ef0963;
  }

#nav_link2::after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #f9004d;
    position: absolute;
    top: 50px;
    left: 7px;
    box-sizing: border-box;
    display: none;


}


 #nav_link2:hover:after {
    display: block;


} 
#nav_link3 {
    color: white;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
}
#nav_link3:hover {
    color:#ef0963;
  }

#nav_link3::after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #f9004d;
    position: absolute;
    top: 50px;
    left: 7px;
    box-sizing: border-box;
    display: none;


}


 #nav_link3:hover:after {
    display: block;


} 

#nav_link4 {
    color: white;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
}
#nav_link4:hover {
    color:#ef0963;
  }

#nav_link4::after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #f9004d;
    position: absolute;
    top: 50px;
    left: 7px;
    box-sizing: border-box;
    display: none;


}


 #nav_link4:hover:after {
    display: block;


} 
#nav_link5 {
    color: white;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
}
#nav_link5:hover {
    color:#ef0963;
  }

#nav_link5::after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #f9004d;
    position: absolute;
    top: 50px;
    left: 7px;
    box-sizing: border-box;
    display: none;


}


 #nav_link5:hover:after {
    display: block;


} 
#nav_link6 {
    color: white;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
}
#nav_link6:hover {
    color:#ef0963;
  }

#nav_link6::after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #f9004d;
    position: absolute;
    top: 50px;
    left: 7px;
    box-sizing: border-box;
    display: none;


}


 #nav_link6:hover:after {
    display: block;


} 




/* .nav_link {
    color: white;
    text-decoration: none;
}

.nav_link:hover {
    color: #f9004d;
} */


.nav-btn {
    background-color: black;

    border: 2px solid whitesmoke;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.5s ease;
}

.nav-btn:hover {
    background-color: #f9004d;
    border: 2px solid #f9004d;
    transform: translateY(-3px);
}

.navbar-toggler {
    color: white;
    background-color: white;
}

.icon-header {
    padding: 5px 0px;
}

.i-head {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin: 15px 20px;

    cursor: pointer;
    transition: all 0.5s ease;


}

.i-head:hover {
    font-weight: 800;
    transform: translateY(-3px);
    font-weight: 800;

}

/* Home css */
#Home {
    width: 100%;
    height: 950px;
    background-image: url(imaige/banner.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.Home_sec {
    width: 100%;
    padding-top: 250px;

}

.Home-pera {
    color: rgba(198, 201, 216, .75);
    font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;

  margin-bottom: 20px;
}

.Home-head {
    color: #fff;
    font-size: 75px;
  font-weight: 900;
  font-family: Montserrat,sans-serif;
  /* line-height: 90px; */
  text-transform: inherit;
  /* width: 70%; */
}

.Home-span {
    color: #f9004d;
    font-size: 75px;
    font-weight: 900;
    font-family: Montserrat,sans-serif;
    /* line-height: 90px; */
    text-transform: inherit;
    width: 70%;
}

.Home-head2 {
    color:#fff;
    margin-top: 20px;
    font-size: 54px;
    font-weight: 700;
}

.scroll-btn {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 50px;
    right: 50px;

}

.scroll-icon {
    color: #fff;
    font-weight: 600;
}

/* About css */
#About {
    width: 100%;
    padding: 200px 0px;
    background-color: black;
}

.About-img {
    width: 100%;
    height: 600px;

}

.About-img img {
    width: 100%;
    height: 100%;
}

.About-con {
    padding: 20px 30px;
}

.About-con h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;

}

.About-con p {
    color: rgba(198, 201, 216, .75);
    line-height: 30px;
    font-size: 20px;
    word-spacing: 5px;

    margin-top: 10px;
}

.About_link {
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-size: 20px;

}

.About_link:hover {
    color: #f9004d;
}

#mainskills {
    margin-top: 20px;
}

#mainskills p {
    font-size: 16px;
}

#mainskills p span {
    font-size: 18px;
    font-weight: 600;
}

#About_tab {
    color: white;
}

/* .nav-tabs {
    display: none;
} */

.nav {

    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Service css */
#Service {
    width: 100%;
    background-color: #101010;
    padding: 120px 0px;
}

.service-head {
    font-size: 50px;
    margin-bottom: 8px;
    color: #fff;
    font-family: Poppins,sans-serif;
  line-height: 1.4074;
  font-weight: 700;

}
.service-pera{
    font-size: 18px;
  line-height: 30px;
    padding: 0 21%;
  font-weight: 300;
}

.icon {
    font-size: 70px;
    color: #f9004d;

}

.Service-con {

    background-color: #191919;
    margin-top: 30px;
    padding: 60px 45px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: left;
    border-radius: 10px;
    transition: all .5s cubic-bezier(.645,.045,.355,1);

}

.Service-con:hover {
    color: #fff;
    background-image: linear-gradient(90deg, #f61b10, #ef0963);
    cursor: pointer;
    box-shadow: 0 10px 25px 10px rgba(0,0,0,.1);
     transform: translateY(-5px);



}

.Service-con:hover .icon {
    color: #fff;
}

.Service-con h3 {
    color: #fff;
    font-size: 19px;
    font-weight: 500px;
    margin-top: 20px;
}

.Service-con p {
    margin-top: 20px;
}

/* portfolio css */
#Portfolio {
    width: 100%;
    background-color: #191919;
    padding: 120px 0;
}

.port-head {
    font-size: 50px;
    margin-bottom: 8px;
    color: #fff;
    font-family: Poppins,sans-serif;
  line-height: 1.4074;
  font-weight: 700;


}
.port-pera{
    font-size: 18px;
    line-height: 30px;
      padding: 0 21%;
    font-weight: 300;
  
}

.Port-sec {
    width: 100%;
    height: 500px;
margin-top: 50px;
   
    cursor: pointer;
    border-radius: 5px;
  
}


.Port-img {
    width: 100%;
    height: 100%;
 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    transition: all 0.7s ease-in;
    border-radius: 5px;
    opacity: 0.8;



}
.Port-img::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f6004c;
  background-image: linear-gradient(#f6004c 10%,#000); 
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;


}
.Port-img:hover::after{
    opacity: 0.85;
    border-radius: 5px;
}
.Port-img1{
    background-image: url(./imaige/portfolio1.jpg);
}
.Port-img2{
    background-image: url(./imaige/portfolio2.jpg);
}.Port-img3{
    background-image: url(./imaige/portfolio3.jpg);
}
.Port-img4{
    background-image: url(./imaige/portfolio4.jpg);
}
.Port-img5{
    background-image: url(./imaige/portfolio3.jpg);
}
.Port-img6{
    background-image: url(./imaige/portfolio2.jpg);
}




.Port-con {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 250px 20px;
   



}

/* .Port-con:hover {
    background-image: linear-gradient(#f6004c 10%, #000);
    background-color: #f6004c;
    opacity: 0.5;

} */

.Port-con p {
    color: #c6c9d8;
    font-size: 16px;
    /* margin-top: 300px; */
    position: relative;
    z-index: 2;
  
}

.Port-con h4 {
    color: white;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    position: relative;
    z-index: 2;
   

}

.Port-btn {

    border-color: hsla(0, 0%, 100%, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    border-radius: 4px;
    border: 2px solid hsla(0, 0%, 100%, 0.3);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    top: 20px;
    z-index: 2;
    transition: all 0.7s ease;
    

}

.Port-btn:hover {
    color: white;
    
    
    /* display: inline-block; */
    /* line-height: 34px; */
    border: 2px solid #f9004d;
    background-color: #f9004d;
    border-radius: 4px;

    /* position: relative; */
    /* z-index: 2; */
    text-transform: uppercase;
    letter-spacing: .2px;
    transform: translateY(-3px);
   
}
.Port-button{
    width: 100%;
    height: 100px;
    padding: 100px 0px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Port-btn2 {
    /* margin-top: 70px; */
    padding: 15px 60px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #f9004d;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    word-spacing: 5px;
    transition: all 0.5s ease;
}

.Port-btn2:hover {
    background-color: transparent;
    color: #f9004d;
    border: 2px solid #f9004d;
    transform: translateY(-5px);
}


/* blog css */

#Blog {
    width: 100%;
    background-color:#000;
    padding: 160px 0;
}

.blog-head {
    font-size: 50px;
    margin-bottom: 8px;
    color: #fff;
    font-family: Poppins,sans-serif;
  line-height: 1.4074;
  font-weight: 700;


}
.blog-pera{
    font-size: 18px;
    line-height: 30px;
      padding: 0 21%;
    font-weight: 300;
  
}


.Blog-sec {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    transition: all 1s ease-in-out;
    
}

.Blog-sec:hover .Blog-img img{
    transform: scale(1.1);
}

.Blog-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  

    transition: all 1s ease;


}


.Blog-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}


.Blog-img::after{
    background: linear-gradient(180deg,#fc004d 0,#000);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1;
    opacity: 0;
    transform: scale(1.0);

}
.Blog-img:hover::after{
    opacity: 0.85;
    transform: scale(1.1);
}

.Blog-con {
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 250px 30px;


    /* border: 2px solid red; */
    position: absolute;
    bottom: -27%;
 
    transition: all 1s 0.3s ease;

}

.Blog-img:hover .Blog-con {
    bottom: -5%;
 
}

.Blog-con p {
    color: #c6c9d8;
    font-size: 14px;
    position: relative;
    z-index: 2;
}

.Blog-con h4 {
    color: white;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    position: relative;
    z-index: 2;

}

.Blog-btn {
    margin-top: 35px;
    padding: 0 23px;
    height: 40px;
    display: inline-block;
    line-height: 34px;
    border: 2px solid #f9004d;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    z-index: 2;
    color: #fff;
    letter-spacing: .2px;
    text-transform: uppercase;
    background-color: transparent;

}

.Blog-btn:hover {
    border: 2px solid #f9004d;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  color: #fff;
  background: #f9004d
}

.Blog-btn2 {
    margin-top: 70px;
    padding: 15px 60px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #f9004d;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    word-spacing: 5px;
    transition: all 0.5s;
}

.Blog-btn2:hover {
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    border: 2px solid #f9004d;
}

#Contact {
    width: 100%;
    background-color: #191919;
    padding: 200px 0;
}

.Contact-sec {
    width: 100%;
    padding: 20px 0px;
}

.Contact-sec h2 {
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}

.Contact-sec p span {
    color: #fff;
    font-weight: 700;
}

.Contact-form {
    margin-top: 50px;
}

#formGroupName,#formGroupEmail,#formGroupSubject,#formGroupMessage {
    background-color: #191919;
    color: #fff;
    padding: 10px 20px;

}

#formGroupName::placeholder,#formGroupEmail::placeholder ,#formGroupSubject::placeholder ,#formGroupMessage::placeholder  {
    color: rgba(198, 201, 216, .75);

}

#input-con {
    border: 2px solid rgba(198, 201, 216, .75);
    border: 5px;


}

.Contact-btn {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #f9004d;
    padding: 15px 40px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: .3s;
    background-color: #f9004d;
    color: #fff;
}
.Contact-btn:hover{
    background: transparent;
  color: #f9004d;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.Contact-img {
    width: 100%;
    height: 600px;
}

.Contact-img img {
    width: 100%;
    height: 100%;
}
.error{
           color: red;
			margin: 0px;
			text-align: left;
}
.form-table{
    color:white;
}

footer {
    width: 100%;
    background-color: #101010;
    padding: 30px 0;
}

.foot-sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foot-logo {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.foot-logo {
    color: white;
    font-weight: 600;
}

.foot-icon {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.i-foot {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(198, 201, 216, .75);
    padding: 12px;
    border-radius: 50%;
    color: rgba(198, 201, 216, .75);
    transition: all 1s;
    cursor: pointer;

}

.i-foot:hover {
    background-color: #f9004d;
    position: relative;
    bottom: 5px;
    border: none;
    color: #fff;
    font-weight: 600;
}

.foot-con p {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tab_wrap .nav-tabs .nav-link.active {
    background-color: transparent;
    color: #f9004d;
    border: none;

}
.tab_wrap .nav-tabs .nav-link{
    color: #fff;
    border: none;
}
.tab_wrap .nav-tabs .nav-link:hover{
    border: none
}
.nav.nav-tabs{
    border: none;
}

